body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.unsplash {
  max-width: 65%;
  height: 100vh;
}

@media only screen and (max-width: 490px) {
  .unsplash {display: none}
}

@media only screen and (max-width: 1050px) {
  .unsplash {
    max-width: 30%;
  }
}